# Виртуальное окружение
.venv/
venv/
env/

# Файлы IDE
.vscode/
.idea/
__pycache__/
*.pyc

# Файлы окружения
.env
.env.local
.env.*.local

# Медиа и статика (соберётся внутри контейнера)
media/
staticfiles/
static/

# Логи и отчёты
*.log
coverage/
htmlcov/
.coverage

# Git и документация
.git/
.gitignore
*.md
README.md

# Docker
Dockerfile
docker-compose*.yml
.dockerignore