# ============================================================================
# ШАБЛОН ПЕРЕМЕННЫХ ОКРУЖЕНИЯ ( Скопировать в .env и заполнить своими данными )
# ============================================================================

# Django базовые настройки
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,89.169.174.52

# Интернационализация и локальное время
LANGUAGE_CODE=ru
TIME_ZONE=Europe/Moscow

# Фронтенд-адреса, которым разрешено слать AJAX-запросы к API (CORS)
# Строго через запятую, без пробелов, с указанием протокола http/https и портов
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# База данных PostgreSQL
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

# Брокер и бэкэнд фоновых задач Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

# Настройки реального почтового SMTP-сервера
EMAIL_HOST=
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Куда Celery будет слать письма о новых файлах
ADMIN_EMAIL=admin@example.com

# Базовый URL вашего проекта (для формирования полных ссылок на файлы в API и письмах)
SITE_URL=http://localhost:8080

# Переменные для автоматического создания Суперпользователя (Админа) при старте Docker
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_FIRST_NAME=
DJANGO_SUPERUSER_LAST_NAME=